@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
  }

    .container {  
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.3fr 1fr 1fr 1fr 0.3fr;
        grid-template-areas:
          "header header header header"
          "carrusel carrusel carrusel carrusel"
          "section1 section2 section3 section4"
          "section5 section6 section7 section8"
          "footer footer footer footer";
    }
          .header   {
            grid-area: header; 
            background-color: $azul;
            padding: 10px;
            color:white;
            display: flex;
            justify-content: space-between; 
            align-items: center;

            img{
                width: 50px;
            }
              ul{
              display: flex;
              list-style-type: none;
              padding: 10px;

              li {
                margin:10px;
                padding: 10px;
                transition: all 1s ease;

                &:hover {
                    transform: scale(1.1);
                }
                a { 
                color:white;
                }
              }
            }
          }

        img{
            width: 150px;
            border-radius: 10%;
            margin:10px;
            transition: all 1s ease;

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }

@mixin carrusel ($grid,$bg,$border) {
      grid-area: $grid;
      background-color: $bg;
      border: $border;
}

.carrusel {
  @include carrusel(carrusel, white, none)
  img {
    transition: none;
    border-radius: 0%;
    &:hover {
      transform: none;
    }
  }
}


// .carrusel {
//   grid-area: carrusel;
//   background-color: white;
//   border: none;
//     img {
//         transition: none;
//         border-radius: 0%;
    
//     &:hover {
//         transform: none;
//     }
//     }
// }

h2{
    text-align: center;
    margin:10px;
}
p{
  padding: 10px;
}

.img{
    text-align: center;
    margin:10px;
}

section{
    border: grey 3px solid;
    background-color: #9696e4;
}

@for $i from 1 through 8 {
      .section#{$i} {
        grid-area: section + $i;
      }
}


//    .section1 { 
//     grid-area: section1;    
// }
//   .section2 { 
//     grid-area: section2;   
// }
//   .section3 { 
//     grid-area: section3;     
// }
//   .section4 { 
//     grid-area: section4; 
// }  
//   .section5 { 
//     grid-area: section5;
//  }  
//   .section6 { 
//     grid-area: section6;
// }
//   .section7 {
//     grid-area: section7;
//   }
//   .section8 {
//     grid-area: section8;
//   }

  .footer { 
    grid-area: footer; 
    background-color: $azul; // #3f15d6
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
    width: 50px;
}

.footer_logo a {
    padding: 15px;
}
}

@media screen and (max-width:768px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "header header header header"
        "carrusel carrusel carrusel carrusel"
        "section1 section1 section2 section2"
        "section3 section3 section4 section4"
        "section5 section5 section6 section6"
        "section7 section7 section8 section8"
        "footer footer footer footer";
        .header {
            flex-direction: column;
            align-items: center;
          }
    }
}

@media screen and (max-width:480px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "carrusel"
      "section1"
      "section2"
      "section3"
      "section4"
      "section5"
      "section6"
      "section7"
      "section8"
      "footer";

      .header {
        flex-direction: column;
        align-items: center;
      }
  }
}

@import "productos";
@import "nosotros";
@import "contacto";